footer {
    background: #333;
    color: #fff;
    text-align: center;

    .container-inner {
        margin: 0 auto;
        max-width: 1300px;
        padding: 2px 0;
        margin-top: 120px;
        display: flex;
        justify-self: center;
        align-items: center;
        text-align: center;
    }

    .center-align {
        margin: 0 auto;
        text-align: center;
        padding: 10px 0;
    }
}
