.work-container {
    margin: 0 auto;
    max-width: 1600px;
    padding: 20px 0;
    padding-top: 70px;

    h3 {
        color: $primaryColor;
        font-size: 20px;
        letter-spacing: 5px;
    }

    img {
        width: 400px;
    }
}

.left-work {
    width: 650px;
}

.project1 {
    height: 320px;
    width: 450px;
    background: url(/images/baseapparelmockup1.png) no-repeat center
        center/cover;
    border-radius: 30px;
    background-size: 100%;
    transition: background-size 0.3s ease-in;

    &:hover {
        background-size: 120%;
    }
}

.project2 {
    height: 320px;
    width: 450px;
    background: url(/images/baseapparelmockup1.png) no-repeat center
        center/cover;
    border-radius: 30px;
    background-size: 100%;
    transition: background-size 0.3s ease-in;

    &:hover {
        background-size: 120%;
    }
}
.project3 {
    height: 320px;
    width: 450px;
    background: url(/images/baseapparelmockup1.png) no-repeat center
        center/cover;
    border-radius: 30px;
    background-size: 100%;
    transition: background-size 0.3s ease-in;

    &:hover {
        background-size: 120%;
    }
}

.flexwork {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    max-width: 1300px;
    margin: auto;
}

.work-buttons {
    display: flex;
    width: 100%;
    align-items: center;
    // justify-content: center;
    margin-top: 30px;

    a {
        background: $primaryColor;
        padding: 5px 2px;
        margin-right: 10px;
        color: #fff;
        text-decoration: none;
        border-radius: 10px;
        font-weight: 400;
        font-size: 18px;
    }

    .btn-secondary {
        background: $secondaryColor;
    }
}

h2 {
    font-size: 30px;
}

p {
    font-size: 18px;
}

.left-work > * {
    padding: 5px 0;
}

.workbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    font-size: 26px;
    font-weight: bold;
}

.workbutton i {
    padding-left: 10px;
    font-size: 18px;
}

#work > div > div:nth-child(3) {
    border-bottom: none;
}

.right-work {
    margin-top: 30px;
}

.work-container hr {
    margin: 0 auto;
    max-width: 80%;
    opacity: 0.9;
    color: #f4f4f4;
    border: solid 2px;
}

.work {
    margin-top: 120px;
}

.right-img {
    margin-top: 30px;
}
