@import "config";
@import "nav";
@import "hero";
@import "work";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.hero {
    height: 100vh;
    position: relative;
    width: 100%;
}

.hero:before {
    content: "";
    background-image: url(/images/greek-vase.png);
    background-repeat: repeat;
    position: absolute;
    background-size: 550px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
    z-index: -1;
}
